* {
    margin : 0.9 px;
}
h1{
    text-align : center;
}
p {
font-size: 2vw ;
background-color: antiquewhite;
}

#funfacts {
    background-color: antiquewhite;
    padding-left: 5%;
    

    padding-top: 3%;
    padding-bottom: 3%;
    
    border: 8px solid pink;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
   
}



img {
    width : 100%;
    border: 5px solid green;
    margin-right: 25%;
    

}

h1{
    font-size: 4vw ;
    background-color: antiquewhite;
}
h2{
    font-size: 2.5vw ;
    background-color: antiquewhite;
}
h3 {

    font-family: Arial;
    text-size-adjust: 100%;
    font-size: 2vw ;

}

#links {

font-size: 85%;
padding-left: 35%;
background-color: antiquewhite;

}

ol,ul{
    color: rgb(208, 18, 145);
    font-size: 2vw ;
}

#subheading{
    text-align: center;
}

.grid-container{
    display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto auto;
  background-color: antiquewhite;
  padding: 10px;
    margin: 19%;
    margin-top: 10%;
}

.grid-item {
background-color: rgba(14, 93, 54, 0.8);
  border: 1px solid antiquewhite;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color:  antiquewhite;

}

#top5interests{

    background-color: antiquewhite;

    padding-left: 44%;

    

    padding-top: 3%;
    padding-bottom: 3%;
    
    
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 0%;
}

#doggo{
    background-color: antiquewhite;
    padding-left: 3%;

    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    
    
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}

#hereisadog{
    text-align: center;
    padding-right: 0%;

}


#body {
   
   background-color: rgb(252, 245, 235);
   background-image: url(https://wallpapers.com/images/thumbnail/aesthetic-doodles-zcbi7fqx38v0876v.webp);

}